---
import {
  getBlogDocByRoute,
  getBlogsList,
  getBloggerDoc,
} from "../../utils/blogs";
import Footer from "../../components/Footer.astro";
import BlogLayout, { type Meta } from "../../layouts/BlogLayout.astro";
import PageSection from "../../layouts/PageSection.astro";
import SectionHeading from "../../components/SectionHeading.astro";

import { getParsedMarkdown } from "../../utils/md";
import { getFullAssetURL } from "../../utils/frappe";

export async function getStaticPaths() {
  const blogsList = await getBlogsList();

  const paths = blogsList.map((blog) => ({
    params: { article: blog.route },
  }));

  return paths;
}

const { article } = Astro.params;
const articleDoc = await getBlogDocByRoute(article);
const blogger = await getBloggerDoc(articleDoc.blogger);
const articleContent = await getParsedMarkdown(articleDoc.content_md);

const articleMeta: Meta = {
  author: blogger.full_name,
  description: articleDoc.blog_intro,
  image: getFullAssetURL(articleDoc.meta_image),
  name: articleDoc.title,
  published_on: articleDoc.published_on,
};
---

<BlogLayout title={articleDoc.title} meta={articleMeta}>
  <PageSection>
    <div>
      <!-- Back Button -->
      <a
        href="/articles"
        class="text-green-900/60 block font-medium text-base hover:text-green-900/80 my-4"
      >
        ← Back to All Articles
      </a>

      <h1
        transition:name="blog_title"
        class="leading-[140%] text-green-800/90 font-black title text-4xl md:text-5xl md:font-bold md:leading-[120%]"
      >
        {articleDoc.title}
      </h1>

      <p transition:name="blog_intro" class="font-medium text-base text-green-900/80 mb-6 mt-4">
        {articleDoc.blog_intro}
      </p>

      <div class="text-green-900/60 font-bold text-lg">
        <time datetime={articleDoc.published_on}
          >{articleDoc.published_on_formatted}</time
        >

        &nbsp; ·

        <span>{articleDoc.read_time} min read</span>
      </div>

      <hr class="border-green-800/20 border-1 my-10" />

      <div
        class="mt-5 prose prose-green prose-lg md:prose-xl prose-h2:text-green-900 prose-h1:text-green-700/70 prose-h1:font-black prose-h1:title prose-h1:text-4xl md:prose-h1:text-5xl"
        set:html={articleContent}
      >
      </div>
    </div>

    <hr class="my-5 border-green-800/20 border-1" />

    <div class="flex flex-col">
      <div class="my-10">
        <SectionHeading>About the author</SectionHeading>
      </div>

      <div class="flex flex-row items-center space-x-6">
        <img
          class="w-32 h-32 rounded-full border-4 border-green-900/60"
          src={getFullAssetURL(blogger.avatar)}
          alt={`${blogger.full_name}'s avatar image`}
        />

        <h4
          class="text-green-900 font-semibold text-xl md:text-2xl"
          title={blogger.full_name}
        >
          {blogger.full_name}
        </h4>
      </div>

      <div class="flex flex-col mt-4">
        <p
          class="text-green-900/70 text-lg md:text-xl font-medium mt-4 font-inter"
        >
          {blogger.bio}
        </p>
      </div>
    </div>
  </PageSection>

  <Footer />
</BlogLayout>
