---
import { format, parse } from "date-fns";
import { getBlogsList } from "../utils/blogs";

const blogsList = await getBlogsList();

// format published_on date
blogsList.forEach((article) => {
  article.published_on = format(
    parse(article.published_on, "yyyy-MM-dd", new Date()),
    "do MMM, yyyy"
  );

  article.route = `/articles/${article.route}`;
});
---

<div class="space-y-8 md:space-y-5 lg:space-y-0 mt-12" transition:animate="slide">
  <ul class="divide-y-2 divide-green-900/10 md:divide-y-0">
    {
      blogsList.map((article) => (
        <li class="font-bold text-lg space-y-1 pb-10 md:py-4 md:space-y-0">
          <a
            class="group md:flex md:items-center md:justify-between"
            href={article.route}
          >
            <div class="flex flex-row items-center justify-between">
              <div class="mb-3 md:mb-0">
                <h3 class="text-gray-900" transition:name="blog_title">{article.title}</h3>
                <p transition:name="blog_intro" class="font-medium text-base text-green-900/80 mt-1">
                  {article.blog_intro}
                </p>
              </div>
            </div>
            <div>
              <time class="text-green-900/60" datetime={article.published_on}>
                <span>{article.published_on}</span>
                <span class="font-thin text-green-950/20">|</span>
                <span>by {article.blogger}</span>
              </time>
            </div>
          </a>
        </li>
      ))
    }
  </ul>
</div>
