---
import getAllEpisodes from "../utils/episodes";

const episodes = await getAllEpisodes();

let upcomingEpisodes = episodes.filter((stream) => {
  // remove episodes in the past
  return stream.stream_date_time > new Date();
});
---

<ul class="divide-y-2 divide-green-900/10 md:divide-y-0">
  {
    upcomingEpisodes.map((stream) => (
      <li class="font-bold text-lg space-y-1 py-10 md:py-4 md:space-y-0">
        <a
          class="group md:flex md:items-center md:justify-between"
          target="_blank"
          href={stream.stream_link}
        >
          <div class="flex flex-row items-center justify-between">
            <h3 class="text-gray-900">{stream.title}</h3>
            <i class="ph-bold ph-arrow-right group-hover:translate-x-2 transition-transform text-green-900 md:ml-5" />
          </div>
          <div>
            <time
              class="text-green-900/60"
              datetime={stream.stream_date_time.toString()}
            >
              <span>{stream.stream_date}</span>
              <span class="font-thin">|</span>
              <span>{stream.stream_time} IST</span>
            </time>
          </div>
        </a>
      </li>
    ))
  }
</ul>
