---
export interface Props {
	title: string;
}

const { title } = Astro.props;
import { FrappeApp } from 'frappe-js-sdk';

const frappe = new FrappeApp("https://buildwithhussain-cms.frappe.cloud", {
    useToken: true,
    // Pass a custom function that returns the token as a string - this could be fetched from LocalStorage or auth providers like Firebase, Auth0 etc.
    token: () => getToken(),
    // This can be "Bearer" or "token"
    type: "token"
})

function getToken() {
	return `${import.meta.env.API_KEY}:${import.meta.env.API_SECRET}`
}

const auth = frappe.auth()
auth
  .getLoggedInUser()
  .then((user) => console.log(`User ${user} is logged in.`))
  .catch((error) => console.error(error));
---

<!DOCTYPE html>
<html lang="en" class="antialiased bg-[#F3FCF5]">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description">
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600;700;900&display=swap');
</style>
